{% extends 'interface/basic.html' %}
{% block title %} Contact Us {% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css'%}">
{% endblock %}
{% block body %}
<div class="container-fluid">
    <h1>Contact Us</h1>

    <form action="/contact/" method="post">{% csrf_token %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Your Name" required>

        <label for="name">Email</label>
        <input type="email" id="email" name="email" placeholder="Enter Your Email" required>

        <label for="name">Phone</label>
        <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number" required>

        <label for="desc">How May We Help You ?</label>
        <textarea id="desc" name="desc" rows="3"></textarea required>
      

        <button type="submit" class="btn-blue">Submit</button>
    </form>
</div>

{% endblock %}
{%block js%}
<script>
    {% if thank %}
    alert('Thanks for contacting us. We wil get back to you soon!');
    document.location = "{% url 'index' %}";
    {% endif %}
</script>
{% endblock %}