{% extends 'interface/basic.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}
{% block body %}

<body>
    {% for category_name, category_movies in user_movies.items %}
    <h1>{{category_name}}</h1>
    <div class="movie-con" id='{{category_name}}'>
        <div class="prev">
            <div class="adjuster">
                <img src="{% static 'img/prev.svg' %}" alt="">
            </div>
        </div>
        {% for movie in category_movies %}
        {% if forloop.counter0|divisibleby:4 %}
        <div class="movie-slide">
        {% endif %}
        
        <div class="movie" id="{{movie.movie_id}}" onclick="location.href='movie/{{movie.movie_id}}'">
            <div class="movie-img">
                <img src="https://image.tmdb.org/t/p/w500/{{movie.movie_img}}">
            </div>
            <div class="movie-details" style="display:none">
                <h3 class="movie-title">{{movie.movie_title}}</h3>
                <h6 class="movie-desc">{{movie.movie_desc}}</h6>
            </div>
        </div>
        {% if forloop.counter0|add:1|divisibleby:4 %}
        </div>
        {% endif %}
        {% endfor %}
        <div class="next">
            <div class="adjuster">
                <img src="{% static 'img/next.svg' %}" alt="">
            </div>
        </div>
    </div>
    {% endfor %}
</body>
{% endblock body %}

{% block js %}
<script src="{% static 'js/index.js' %}" type="text/javascript"></script>
{% endblock js %}