{% extends "interface/basic.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}"/>
{% endblock css %}

{% block body %}
    <body>
        <div class="query-results">
            {% for movie in movies %}
                {% if forloop.counter0|divisibleby:4 %}
                {% endif %}
                <a class="movie-link" href="{% url 'moviepage' movie.movie_id %}">
                    <div class="movie" id="{{ movie.movie_id }}">
                        <div class="movie-img">
                            <img src="https://image.tmdb.org/t/p/w500/{{ movie.movie_img }}"
                                 alt="{{ movie.movie_name }} poster"/>
                        </div>
                        <div class="movie-details">
                            {% comment %} style="display:block" {% endcomment %}
                            <h3 class="movie-title">{{ movie.movie_title }}</h3>
                            <h6 class="movie-desc">{{ movie.movie_desc }}</h6>
                        </div>
                    </div>
                </a>
                {% if forloop.counter0|add:1|divisibleby:4 or forloop.last %}
                {% endif %}
            {% endfor %}
        </div>
    </body>
{% endblock body %}
