anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
defusedxml
Django
django-livereload-server
entrypoints
executing
fastjsonschema
fonttools
fqdn
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
joblib
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
rfc3339-validator
rfc3986-validator
scikit-learn
scipy
seaborn
Send2Trash
six
sniffio
soupsieve
sqlparse
stack-data
terminado
threadpoolctl
tinycss2
tornado
traitlets
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
