.movie-con {
    display: flex;
    background-color: blue;
    justify-content: center;
    margin-block: 1em; 
}

.movie-slide {
    background-color: orange;
    display: none;
    margin-inline: 10px;
}

.movie {
    width: 330px;
    height: 185px;
    margin-inline: 8px;
    cursor: pointer;
}
.movie-img{
    width: 330px; 
    height: 185px;
}
.movie * img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
}

.adjuster {
    background-color: lightblue;
    font-size: 2em;
    margin-inline: -5px; 
}

.prev {
    background-color: black;
    height: 185px;
    display: flex;
    align-items: center;
}

.next {
    background-color: black;
    height: 185px;
    display: flex;
    align-items: center;
}